*{
    margin: 0;
    padding: 0;
    font-family:'Inter';
}
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
  src: url("Inter-Thin.woff2?v=3.19") format("woff2"),
       url("Inter-Thin.woff?v=3.19") format("woff");
}

.navbar{
    background-color: rgb(143, 33, 194);
    color: white;
    padding:1.5em;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: bold;
}
.logo{
    width: max-content;
}
.navbar {
    display: flex;
    text-align: center;
}
.navbar ul li{
    list-style: none;
    display:inline;
    padding: 0;
    margin: 0 10px;
    justify-content: space-between;
    text-align: center;
}
.navbar ul{
    margin: auto;
    padding: auto;
}
.lets_talk{
    color: rgb(136, 25, 187);
    background-color: white;
    border-radius: 50px;
    font-size: 16px;
    position: absolute;
    font-weight: bold;
    padding:.5em;
    width: max-content;
    right: 20px;
    border: none;

}
.background_image{
    background: url("./images/confidence.jpeg")-20px -90px;
    background-size: cover;
    height: 540px;
    position: relative;
    color: white;
    line-height: 10px;
}
.background_image .headText{
    font-weight: bold;
    position: absolute;
    font-size: 48px;
    margin:22% 0 0 5%;
    
}
.headParagraph{
    width: 30%;
    position: absolute;
    margin: 27% 0 0 5%;
    line-height: 1em;
    font-size: 20px;
}
.View_project{
    background-color: rgb(136, 25, 187);
    color: white;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1em;
    position: absolute;
    margin: 32% 0 0 5%;
    padding:.5em;
    border: none;
}
.line{
    width:30px;
    background: rgb(143, 34, 194);
    height: 4px;
    margin:40px 10px 0 40px;
    margin-top: auto;
    margin-bottom: auto;
}
.line h2{
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
 }
.what_we_do{
    display: flex;
    margin-top: 40px;
    text-align: center;
}
.service_header{
    margin:40px 10px 0 40px;
    font-size: 30px;
}
.services{
    margin: 20px 10px 0 0px;
    display: flex;
    padding: 20px;
}
.services h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.services .web_development,.user_experience,.mobile_app,.block_chain{
    flex: 1;
    padding: 20px;
}
.services p{
    font-size: 20px;
}
.case_studies{
    display: flex;
    margin-top: 40px;
}

.swiper-slide h1{
    position: absolute;
    top: 65%;
}
.swiper-slide p{
    position: absolute;
    top: 75%;
}
  .swiper {
    text-align: center;
    max-width: 600px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  .swiper-slide img{
    width: 100%;
    position: relative;
  }
  .swiper-slide h1,p{
    padding-left:20px;
    text-align: left;
    width: 80%;
  }
  
  
.youll_be_in_company{
    display: flex;
    margin-top: 40px;
}

/*footer*/
.footer{
    bottom: 0;
    height: max-content;
    background-color: rgb(86, 0, 126);
    color: white;
    padding:1.5em;
    display: block;
    font-size: 20px;
    text-align: center;
}
.footer a{
    color: white;
    text-decoration: none;
}
.bright_line{
    width:30px;
    background: rgb(198, 68, 224);
    height: 4px;
    margin:40px 10px 0 40px;
    margin-top: auto;
    margin-bottom: auto;
}
.bright_line h2{
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
 }
 .contact_us{
    display: flex;
    margin-top: 40px;
 }
 .footer_first_row_section{
    display: flex;
    flex-wrap: wrap;
 }
 .footer_project_in_mind{
    flex: 1;
    margin:40px;
 }
 .address{
    flex:1;
    margin:40px
 }
 .address .email{
    float: left;
    margin-left:20px ;
 }
 .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.column_links,
.column_socials,
.column_websites,
.column_platforms,
.column_career {
  display: flex; 
  flex-direction: column;
  padding: 20px;
}
.case_study_images {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }
  
@media screen and (max-width: 768px) {
    .swiper-slide h1{
        position: absolute;
        top: 60%;
    }
    .swiper-slide p{
        position: absolute;
        top: 75%;
    }
  .footer_first_row_section{
    display: block;
  }
  .service_header{
    margin:40px 10px 0 40px;
    font-size: 20px;
}
.background_image{
    position: absolute;
}
.headText{
    line-height: 1em;
    font-size: 18px;
    position: absolute;
    margin-top:300px;
}

.headParagraph{
    position: absolute;
    line-height: 1em;
    width: 70%;
    margin-top: 350px;
}
.View_project{
   position: absolute;
   margin-top: 450px;
}


}

 @media screen and (max-width: 1200px) {
  .services{
    display: block;
  }
  .swiper-slide h1{
    position: absolute;
    top: 60%;
}
.swiper-slide p{
    position: absolute;
    top: 75%;
}
  .background_image{
    background: url("./images/confidence.jpeg")-280px 0px;
    background-size: cover;
    height: 500px;
    position: relative;
    color: white;
    line-height: 10px;
}
.service_header h1{
    width: 80%;
    padding-right: 20px;
}

.footer{display: block;}
}